/* svg {
    box-sizing: border-box;
} */
/* 
path:hover {
    opacity: 0.5;
    transform: scale(1.03,1.03)
}

.enter {
    fill: red
}

.update {
    fill: yellow
} */

/* .xaxis {
    margin-left: 1000px;
    padding-left: 1000px;
}
.domain {
    margin-left: 1000px;
    padding-left: 1000px;
} */

/* .chart3 {
    display: grid;
    grid-template-columns: 1fr auto;
} */
/* .chart3 {
    width: max-content;
    height: auto;
}

.addStroke {
    stroke: black;
    stroke-width: 2px;
}

.addOpacity {
    opacity: 0.5;
}

.navBar {
    display: grid;
    grid-template-columns:   repeat(3, min-content);
    justify-content: right;
    padding-right: 50px;
    grid-template-rows: 32px;
}

.navBar button {
    width: min-content;
    white-space: nowrap;
    align-self: center;

}

.navBar p {
    width: min-content;
    white-space: nowrap;
    align-self: center;
} */