/* 
.App {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: min-content auto;
  overflow: hidden;

} */

/* .container {
  display: grid;
  grid-template-columns: 100px 1fr 400px 200px;
  grid-row-gap: 20px;
  grid-column-gap: 10px;
} */